<tr id="{{formid}}_recordset_{{id}}">
    <td>{{startDate}}</td>
    <td style="text-align:right; padding-left: 5px;">{{startTime}}</td>
    <td style="text-align:right; padding-left: 5px;">{{endDate}}</td>
    <td>{{endTime}}</td>
    <td>{{#if changeable}}<strong>*</strong>{{/if}}&#160;</td>
    <td>{{desc}}</td>
    {{#if deleteAllowed}}
    <td style="width: 100px;">
        <input type="hidden" id="{{formid}}_title_{{id}}" value="{{startDate}} - {{endDate}} ({{desc}})" />
        <button
            type="button"
            class="btn btn-danger btn-sm"
            data-toggle="modal"
            data-target="#deleteDialogModal"
            data-url="{{url}}"
            data-item-id="{{id}}"
            data-form-id="{{formid}}"
        >
            löschen
        </button>
    </td>
    {{else}}
    <td class="table-spacer"></td>
    {{/if}}
</tr>
