{{!
/**
 *  SFW - SimpleFrameWork
 *
 *  Copyright (C) 2015  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */
}}
<div>
    <div style="overflow-x: auto;">
        <h4 class="mb-3 text-decoration-underline">Termine</h4>
        <p>
            {{caption}}
        </p>
        <div id="{{sfw2_routing.path_simplified}}" class="d-none">
            <form class="needs-validation" novalidate="novalidate">
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sdstartdate" class="form-label">Startdatum <i title="Pflichtfeld" class="bi bi-box-arrow-in-down-left"></i></label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sdstartdate"
                        type="date"
                        class="form-control "
                        name="sdstartdate"
                        required="required"
                        title="Gib hier bitte das Startdatum im Format TT.MM.JJJJ ein."
                        maxlength="10"
                    />
                    <div class="form-text invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sdstarttime" class="form-label">Startuhrzeit <i title="Pflichtfeld" class="bi bi-box-arrow-in-down-left"></i></label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sdstarttime"
                        type="time"
                        name="sdstarttime"
                        title="Gib hier bitte die Startzeit im Format hh:mm ein."
                        maxlength="5"
                        class="form-control "
                        required="required"
                    />
                    <div class="form-text invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sdenddate" class="form-label">Enddatum</label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sdenddate"
                        class="form-control "
                        type="date"
                        name="sdenddate"
                        title="Gib hier bitte das Enddatum im Vormat TT.MM.JJJJ ein."
                        maxlength="10"
                    />
                    <div class="invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sdendtime" class="form-label">Enduhrzeit</label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sdendtime"
                        class="form-control "
                        type="time"
                        name="sdendtime"
                        title="Gib hier bitte die Endzeit im Vormat hh:mm ein."
                        maxlength="5"
                    />
                    <div class="invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sddesc" class="form-label">Beschreibung <i title="Pflichtfeld" class="bi bi-box-arrow-in-down-left"></i></label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sddesc"
                        class="form-control "
                        type="text"
                        name="sddesc"
                        title="Gib hier bitte eine Beschreibung ein."
                        maxlength="250"
                    />
                    <div class="invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <label for="{{sfw2_routing.path_simplified}}_sdlocation" class="form-label">Ort <i title="Pflichtfeld" class="bi bi-box-arrow-in-down-left"></i></label>
                    <input
                        id="{{sfw2_routing.path_simplified}}_sdlocation"
                        class="form-control "
                        type="text"
                        name="sdlocation"
                        title="Gib hier bitte einen Ort an."
                        maxlength="250"
                    />
                    <div class="invalid-feedback">fehler</div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            name="sdchangeable"
                            type="checkbox"
                            id="{{sfw2_routing.path_simplified}}_sdchangeable"
                            value="1"
                            title="Klick hier bitte, wenn der Termin noch nicht fest ist und sich ggf. ändert!"
                        />
                        <label class="form-check-label" for="{{sfw2_routing.path_simplified}}_sdchangeable">
                            Flextermin (Termin kann sich noch ändern)
                        </label>
                        <div class="invalid-feedback">Fehler</div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Datum</th>
                    <th>Uhrzeit</th>
                    <th></th>
                    <th>Was</th>
                    <th>Wo</th>
                    <th>
                        <button
                            type="button"
                            class="btn-sm btn btn-light"
                            data-bs-toggle="modal"
                            data-bs-target="#sfw2-dialog-modal"
                            data-sfw2-form-id="{{sfw2_routing.path_simplified}}"
                            data-sfw2-url="{{sfw2_routing.path}}"
                        ><i class="bi bi-plus-square"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody class="text-nowrap">
                {{#each entries}}
                <tr id="{{formid}}_recordset_{{id}}">
                    <td>{{startDate}}</td>
                    <td>{{startTime}}</td>
                    <td>{{#if changeable}}<strong>*</strong>{{/if}}&#160;</td>
                    <td>{{description}}</td>
                    <td>&#160;</td>
                    <td>
                        {{!#if deleteAllowed}}
                        <input type="hidden" id="{{formid}}_title_{{id}}" value="{{startDate}} - {{endDate}} ({{desc}})" />
                        <button
                            type="button"
                            class="btn btn-sm btn-light"
                            data-toggle="modal"
                            data-target="#deleteDialogModal"
                            data-url="{{url}}"
                            data-item-id="{{id}}"
                            data-form-id="{{formid}}"
                        >
                            <i class="bi bi-trash3"></i>
                        </button>
                        {{!/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#if has_changeable}}
    <p>
        <strong>*</strong> <i><strong>Achtung:</strong> Das Datum bzw. die Uhrzeit stehen noch nicht endgültig fest und
        können sich ggf. noch ändern!</i>
    </p>
    {{/if}}
    {{#if modificationDate}}
    <div class="modificationDate">
        Stand: <time pubdate="pubdate">{{modificationDate}}</time>
    </div>
    {{/if}}
</div>